<%- include partials/header.ejs %>
<%- include partials/main-nav.ejs %>



    <main class="container">
      <div class=jumbotron>
        <h1 class="display-4">  <p> Welcome to <%= title %>  </p></h1>

      </div>
    </main>

    
    <%- include partials/bottom-nav.ejs %>
   <%- include partials/footer.ejs %>

