<!-- index.ejs; Syeda Maria Manzoor, 301184173, 03-Oct-2021-->

<%- include partials/header.ejs %>
<%- include partials/main-nav.ejs %>



    <main class="container">
      <div class=jumbotron>
        <% if(title=="Home") {%>
          <%- include contents/home.ejs %>
        <%}%>
        <% if(title=="About") {%>
          <%- include contents/about.ejs %>
        <%}%>
        <% if(title=="Projects") {%>
          <%- include contents/projects.ejs %>
        <%}%>
          <% if(title=="Services") {%>
        <%- include contents/services.ejs %>
          <%}%> 
        <% if(title=="Contact") {%>
          <%- include contents/contact.ejs %>
        <%}%>
        <% if(title=="Contact List") {%>
          <%- include businesscontact/list.ejs %>
        <%}%>
        <% if(title=="Login") {%>
          <%- include contents/login.ejs %>
        <%}%>
      </div>
    </main>

    
    <%- include partials/bottom-nav.ejs %>
   <%- include partials/footer.ejs %>

