<!-- login.ejs; Syeda Maria Manzoor, 301184173, 03-Oct-2021-->

<%- include ../partials/header.ejs %>
<%- include ../partials/main-nav.ejs %>


<main class="container">
<% if(messages.length > 0) {%>
    <div class="alert alert-danger">
        <%= messages %>
    </div>
<% } %>

<div class="card border-light mb-3">
    <div class="p-2 card-body">
        <div class="row g-0">
          <div class="col-md-8">
              <h5 class="display-8 mb-5">Login</h5>
              <p class="">Please login to view authenticated contents. Or <a href="/register"> register here.</a></p>
          </div>
        </div>
    </div>
    </div>
  </div>
  
  <div class="card-group mb-5">
    <div class="card border-light">
      <div class="card-body">
        <div class="row g-0">
            <div class="col-md-4">
                <form method="post" autocomplete="off">
                    <div class="mb-3">
                      <label for="formGroupExampleInput" class="form-label">User name</label>
                      <input type="text" class="form-control" id="loginid" name="username" placeholder="User name" required autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="formGroupExampleInput2" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="mb-3">
                      <button class="btn btn-primary" id="submit" type="submit">Login</button>
                      <a  class="btn btn-warning btn-sm" href="/" > <i class="fa fa-times"></i> Cancel</a>
                    </div>
                </form>
            </div>
          </div>
  
        
      </div>
    </div>
  </div>
  
  <div class="mt-5 mb-5">
    <hr class="p-3 mb-5">
  
  </div>
</main>
  
  <%- include ../partials/bottom-nav.ejs %>
  <%- include ../partials/footer.ejs %>